.signIn {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.signIn__container {
  /* display: flex;
  flex-direction: column;
  text-align: center; */
}

.signIn__container_title {
  display: block;
  width: 100%;
  text-align: center;
  font-weight: 500;
  font-size: 22px;
}
